.block {
  width: 60px;
  height: 60px;
  margin: 1px;
  background-color: gray;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.none {
  background-color: white;
}

.won-item {
  background: url(/src/assets/icon.png) no-repeat center/cover;
}


